/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 20px;
  background-color: azure;
  display: flex;
  flex-direction: column;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Header */
header {  
    position: fixed;
    width: 100%;
    background-color: #0a2d0d;
}

.header_logo p {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.wrapper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.wrapper-header a {
  text-decoration: none;
}

.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul li {
    display: block;
    height: 100%;
}

ul a {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
}


ul a:hover {
  background-color: rgb(125, 125, 125);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.active {
  background-color: rgb(185, 48, 48);
  color: #fff;
  cursor: pointer;
}

/* Main */
main {
  flex: 1 0 auto;
  padding-top: 80px;
  min-height: 100vh;
}

.content_home {
  width: 60%;
    margin: 0 auto;
}


/* Footer */
footer {
    padding: 10px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #0a2d0d;
}

.wrapper {
  padding: 20px 200px;
}

.font_bold {
  font-weight: bold;
}

.h1 {
  font-size: 45px;
  margin-bottom: 60px;
}

.h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.p {
  margin-bottom: 30px;
}

pre {
  background-color: #0a2d0d;
  color: #fff;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
